.navbar {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 2rem 5%;
  }

  .progress-bar {
    margin: 15px 0;
  }

  h3 {
    font-size: 1.5rem;
  }
}
